@font-face {
    font-family: roboto-black;
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: roboto-regular;
    src: url('../fonts/Roboto-Regular.ttf');
}
.roboto-black{
    font-family: roboto-black;
}
.roboto-bold{
    font-family: roboto-bold;
}
.roboto-regular{
    font-family: roboto-regular;
}
.fas{
    font-size: 60px;
}
.fa-ambulance{
    color: red;
}
.fa-user{
    color: #27ae60;
}
